# Начало

Ссылка на 1 урок: https://live.skillbox.ru/webinars/code/pishem-model-mashinnogo-obucheniya-na-python110121/?utm_source=vk&utm_medium=messages&utm_campaign=all_all_vk_messages_invite_intensive-179-2021-01_all_code_skillbox&utm_content=2021-01-11&utm_term=intensive&ss_sub=5ff6d714f20fba5fd87ecf6e

Ссылка на файл: https://drive.google.com/file/d/18Hyh1l9H3bR556W1tO2vKwpfAqZPueEp/view

In [7]:
import pandas

data = pandas.read_excel('./trips_data.xlsx')

data

,Unnamed: 0,salary,city,age,vacation_preference,transport_preference,family_members,target
0,0,196000,Краснодар,25,Шоппинг,Автомобиль,1,New York
1,1,152000,Екатеринбург,60,Архитектура,Самолет,1,London
2,2,83000,Томск,49,Архитектура,Автомобиль,2,Sydney
3,3,161000,Краснодар,41,Шоппинг,Автомобиль,0,New York
4,4,146000,Краснодар,58,Архитектура,Самолет,1,Sydney
...,...,...,...,...,...,...,...,...
995,995,81000,Краснодар,55,Пляжный отдых,Морской транспорт,2,Paris
996,996,96000,Краснодар,32,Архитектура,Поезд,1,Paris
997,997,56000,Краснодар,68,Архитектура,Самолет,2,Paris
998,998,162000,Краснодар,69,Архитектура,Самолет,0,Sydney
999,999,171000,Краснодар,35,Архитектура,Автомобиль,1,New York